<!DOCTYPE html>
{% extends base_template_name %}
{% block content%}
<html>
<head>
    <title>Exam View</title>
</head>
<body>
    <h2>Exam View</h2>
    {{ form.as_p }}
        <form method="post" enctype="multipart/form-data">
        <input type="checkbox" hx-trigger="change"  hx-indicator=".htmx-indicator" hx-get="{% url 'exam_data_submission' exam_id%}" hx-target="#visual" id="both" name="both">
        <label for="both">Data Submission for both eyes?</label>
        {% csrf_token %}
        {{ prescription_form.as_p }}
        {{ occular_form.as_p }}
        <p class="text-4xl">aided near</p>
        {{ aided_near.as_p }}
        <p class="text-4xl">unaided near</p>
        {{ unaided_near.as_p }}
        <p class="text-4xl">aided ph near</p>
        {{ aided_ph_near.as_p }}
        <p class="text-4xl">unaided ph near</p>
        {{ unaided_ph_near.as_p }}
        <p class="text-4xl">aided far</p>
        {{ aided_distance.as_p }}
        <p class="text-4xl">unaided far</p>
        {{ unaided_distance.as_p }}
        <p class="text-4xl">aided ph far</p>
        {{ aided_ph_distance.as_p }}
        <p class="text-4xl">unaided ph far</p>
        {{ unaided_ph_distance.as_p }}
        <button type="submit">Submit</button>
    </form>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                {{ message }}
            </li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
{% endblock  %}

<script>
    document.getElementById("demo").innerHTML = "Hello JavaScript!";
</script>
