<!DOCTYPE html>
{% extends base_template_name %}
{% block content%}
<html>
<head>
    <title>Exam View</title>
</head>
<body>
    <h2>Exam View</h2>
    {{ form.as_p }}
    {% if upload %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ prescription_form.as_p }}
        {{ visual_form.as_p }}
        {{ occular_form.as_p }}
        <button type="submit">Submit</button>
    </form>
    {% else %}
        {{ prescription_form.as_p }}
        {{ visual_form.as_p }}
        {{ occular_form.as_p }}
    {% endif %}
</body>
</html>
{% endblock  %}
