<!DOCTYPE html>
{% extends base_template_name %}
{% block content%}

<h1 class="text-2xl font-bold text-gray-700 text-center mb-2">Exam View</h1>
<hr class="my-4" />
<h2 class="text-lg font-semibold text-center text-gray-700 mb-6">Appointment Information</h2>
<div class="flex justify-between w-full">
    <div>
        <label>Patient:</label>
        <label> {{ exam.patient }} </label>
    </div>
    <div>
        <label class="text-right">Doctor:</label>
        <label class="text-right"> {{ exam.doctor }}</label>
    </div>
</div>

<div class="flex justify-between w-full">
    <div>
        <label>Date:</label>
        <label> {{ exam.date }} </label>
    </div>
    <div>
        <label class="text-right">Status:</label>
        <label class="text-right"> {{ exam.status }} </label>
    </div>
</div>

<div>
    <label>Time:</label>
    <label> {{ exam.time }} </label>
</div>

<div class="mb-12">
    <label>Arrival Time:</label>
    <label> {{ exam.arrival_time }}</label>
</div>

<fieldset class="fieldset border-0 ms-0 me-0 mb-2 pb-0 ps-0 pe-0">
    <legend class="fieldset-legend">Reason for visit</legend>
    <textarea name="other_information"rows="4" class="border-2 w-1/2 resize-none min-h-20 max-h-80" readonly> {{ exam.reason_for_visit }} </textarea>
</fieldset>
<div class="flex justify-between">
    {% if user.groups.all.0.name == "Office Manager" %}
        {% if exam.status == "Pending" %}
            <form method="post">
                {% csrf_token %}
                <input type="submit" class="btn" value="Confirm" name="{{ exam.id }}">
                <input type="submit" class="btn" value="Deny" name="{{ exam.id }}">
            </form>

        {% elif exam.status == "Upcoming" %}
            <div>
                {% if exam.date == today %}
                    <a class="btn btn-xs" href="{%url 'progress_exam' exam_id %}">Update to In Waiting Room</a>
                {% endif %}
                <a class="btn btn-xs" href="{%url 'reschedule_exam' exam_id %}">Reschedule</a>
            </div>
        {% elif exam.status == "In Wait Room" %}
            <a class="btn btn-xs" href="{%url 'progress_exam' exam_id %}">Update to In Progress</a>
        {% elif exam.status == "Post Examination" %}
            <a class="btn btn-xs" href="{%url 'progress_exam' exam_id %}">Complete Exam</a>
        {% endif %}
    {% endif %}
    {% if user.groups.all.0.name != "Ophthalmologist" %}
        {% if exam.status == "Upcoming" or exam.status == "In Wait Room" %}
            <a class="btn btn-xs justify-right bg-red-500" href="{%url 'cancel_exam' exam_id 'False' %}">Cancel Exam</a>
        {% endif %}
    {% endif %}
</div>
{% if user.groups.all.0.name == "Ophthalmologist" %}
    {% if exam.status == "Post Examination" %}
        <div>
            <a class="btn btn-xs" href="{%url 'exam_data_submission' exam_id %}">Edit Examination</a>
        </div>
    {% elif exam.status == "Exam In Progress" %}
        <div>
            <a class="btn btn-xs" href="{%url 'exam_data_submission' exam_id %}">Begin Examination</a>
        </div>
    {% endif %}
{% endif %}

{% if exam.status == "Post Examination" or exam.status == "Completed"%}
    <div>
        <hr class="my-4" />
        <h2 class="text-lg font-semibold text-center text-gray-700 mb-6">Prescription</h2>
    </div>

    <div class="overflow-x-auto w-3/4 mx-auto mb-4">
        <table class="table">
            <tbody>
                <tr>
                    <th></th>
                    <th class="text-center border-solid border-gray-500">Rx</th>
                    <th class="text-center border-solid border-gray-500">Sphere</th>
                    <th class="text-center border-solid border-gray-500">Cylinder</th>
                    <th class="text-center border-solid border-gray-500">Axis</th>
                    <th class="text-center border-solid border-gray-500">Prism</th>
                    <th class="text-center border-solid border-gray-500">Prism Base</th>
                </tr>
                <tr>
                    <th rowspan="2" class="border-solid border-gray-500"> Distance </th>
                    <td class="text-center border-solid border-gray-300"> O.D. </td>
                    <td class="text-center border-solid border-gray-300"> {{ prescription_form.od_sphere.value }} </td>
                    <td class="text-center border-solid border-gray-300"> {{ prescription_form.od_cylinder.value }} </td>
                    <td class="text-center border-solid border-gray-300"> {{ prescription_form.od_axis.value }} </td>
                    <td class="text-center border-solid border-gray-300"> {{ prescription_form.od_prism.value }} </td>
                    <td class="text-center border-solid border-gray-300"> {{ prescription_form.od_prism_base.value }} </td>
                </tr>

                <tr>
                    <td class="text-center border-solid border-gray-300"> O.S. </td>
                    <td class="text-center border-solid border-gray-300"> {{ prescription_form.os_sphere.value }} </td>
                    <td class="text-center border-solid border-gray-300"> {{ prescription_form.os_cylinder.value }} </td>
                    <td class="text-center border-solid border-gray-300"> {{ prescription_form.os_axis.value }} </td>
                    <td class="text-center border-solid border-gray-300"> {{ prescription_form.os_prism.value }} </td>
                    <td class="text-center border-solid border-gray-300"> {{ prescription_form.os_prism_base.value }} </td>
                </tr>

                <tr>
                    <th rowspan="2" class="border-solid border-gray-500"> ADD </th>
                    <td class="text-center border-solid border-gray-300"> O.D. </td>
                    <td class="text-center border-solid border-gray-300"> {{ prescription_form.od_add.value }} </td>
                </tr>

                <tr>
                    <td class="text-center border-solid border-gray-300"> O.S. </td>
                    <td class="text-center border-solid border-gray-300"> {{ prescription_form.os_add.value }} </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        <a class="btn btn-xs inline-flex items-center justify-center" href="{% url 'prescription_download' exam_id%}" name="Download">Download Prescription</a>
        <a onclick="printPrescription({{ exam.id }})" class="btn btn-xs inline-flex items-center justify-center">Print Prescription</a>
    </div>

    {% if user.groups.all.0.name != "Office Manager" %}
        <div>
            <hr class="my-4" />
            <h2 class="text-lg font-semibold text-center text-gray-700 mb-6">Exam Results</h2>
        </div>

        {% if user.groups.all.0.name != "Patients" %}
            <div class="overflow-x-auto w-1/2 mx-auto mb-6">
                <table class="table table-bordered border border-gray-300">
                    <tbody>
                        <tr>
                            <th colspan="2" class="text-center border-solid border-gray-500">Test Results</th>
                        </tr>
                        <tr>
                            <td class="border-solid border-gray-300"> {{ exam.visual_accuity_aided_string_left_distance }} </td>
                            <td class="border-solid border-gray-300"> {{ exam.visual_accuity_aided_string_left_near }} </td>
                        </tr>

                        <tr>
                            <td class="border-solid border-gray-300"> {{ exam.visual_accuity_aided_string_right_distance }} </td>
                            <td class="border-solid border-gray-300"> {{ exam.visual_accuity_aided_string_right_near }} </td>
                        </tr>

                        <tr>
                            <td class="border-solid border-gray-300"> {{ exam.visual_accuity_aided_string_both_distance }} </td>
                            <td class="border-solid border-gray-300"> {{ exam.visual_accuity_aided_string_both_near }} </td>
                        </tr>

                        <tr>
                            <td class="border-solid border-gray-300"> {{ exam.visual_accuity_unaided_string_left_distance }} </td>
                            <td class="border-solid border-gray-300"> {{ exam.visual_accuity_unaided_string_left_near }} </td>
                        </tr>

                        <tr>
                            <td class="border-solid border-gray-300"> {{ exam.visual_accuity_unaided_string_right_distance }} </td>
                            <td class="border-solid border-gray-300"> {{ exam.visual_accuity_unaided_string_right_near }} </td>
                        </tr>

                        <tr>
                            <td class="border-solid border-gray-300"> {{ exam.visual_accuity_unaided_string_both_distance }} </td>
                            <td class="border-solid border-gray-300"> {{ exam.visual_accuity_unaided_string_both_near }} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="overflow-x-auto w-1/2 mx-auto mb-6">
                <table class="table table-bordered border border-gray-300">
                    <tbody>
                        <tr>
                            <th colspan="2"></th>
                            <th colspan="2" class="text-center border-solid border-gray-500">Distance</th>
                            <th colspan="2" class="text-center border-solid border-gray-500">Near</th>
                        </tr>
                        <tr>
                            <th colspan="2"></th>
                            <th class="border-solid border-gray-500"> Normal </th>
                            <th class="border-solid border-gray-500"> Pinhole </th>
                            <th class="border-solid border-gray-500"> Normal </th>
                            <th class="border-solid border-gray-500"> Pinhole </th>
                        </tr>
                        <tr>
                            <th rowspan=2 class="border-solid border-gray-500"> Left Eye </th>
                            <th class="border-solid border-gray-500"> Aided </th>
                            <td class="border-solid border-gray-300 text-center">
                                {% if exam.visual_accuity_aided_distance.visual_acuity_measure_left %}
                                    {{ exam.visual_accuity_aided_distance.visual_acuity_measure_left }}
                                {% else %}
                                    Not Recorded
                                {% endif %}
                            </td>
                            <td class="border-solid border-gray-300 text-center">
                                {% if exam.visual_accuity_pinhole_aided_distance.visual_acuity_measure_left %}
                                    {{ exam.visual_accuity_pinhole_aided_distance.visual_acuity_measure_left }}
                                {% else %}
                                    Not Recorded
                                {% endif %}
                            </td>
                            <td class="border-solid border-gray-300 text-center">
                                {% if exam.visual_accuity_aided_near.visual_acuity_measure_left %}
                                    {{ exam.visual_accuity_aided_near.visual_acuity_measure_left }}
                                {% else %}
                                    Not Recorded
                                {% endif %}
                            </td>
                            <td class="border-solid border-gray-300 text-center">
                                {% if exam.visual_accuity_pinhole_aided_near.visual_acuity_measure_left %}
                                    {{ exam.visual_accuity_pinhole_aided_near.visual_acuity_measure_left }}
                                {% else %}
                                    Not Recorded
                                {% endif %}
                            </td>
                        </tr>

                        <tr>
                            <th class="border-solid border-gray-500"> Unaided </th>
                            <td class="border-solid border-gray-300 text-center">
                                {% if exam.visual_accuity_unaided_distance.visual_acuity_measure_left %}
                                    {{ exam.visual_accuity_unaided_distance.visual_acuity_measure_left }}
                                {% else %}
                                    Not Recorded
                                {% endif %}
                            </td>
                            <td class="border-solid border-gray-300 text-center">
                                {% if exam.visual_accuity_pinhole_unaided_distance.visual_acuity_measure_left %}
                                    {{ exam.visual_accuity_pinhole_unaided_distance.visual_acuity_measure_left }}
                                {% else %}
                                    Not Recorded
                                {% endif %}
                            </td>
                            <td class="border-solid border-gray-300 text-center">
                                {% if exam.visual_accuity_unaided_near.visual_acuity_measure_left %}
                                    {{ exam.visual_accuity_unaided_near.visual_acuity_measure_left }}
                                {% else %}
                                    Not Recorded
                                {% endif %}
                            </td>
                            <td class="border-solid border-gray-300 text-center">
                                {% if exam.visual_accuity_pinhole_unaided_near.visual_acuity_measure_left %}
                                    {{ exam.visual_accuity_pinhole_unaided_near.visual_acuity_measure_left }}
                                {% else %}
                                    Not Recorded
                                {% endif %}
                            </td>
                        </tr>

                        <tr>
                            <th rowspan="2" class="border-solid border-gray-500"> Right Eye </th>
                            <th class="border-solid border-gray-500"> Aided </th>
                            <td class="border-solid border-gray-300 text-center">
                                {% if exam.visual_accuity_aided_distance.visual_acuity_measure_right %}
                                    {{ exam.visual_accuity_aided_distance.visual_acuity_measure_right }}
                                {% else %}
                                    Not Recorded
                                {% endif %}
                            </td>
                            <td class="border-solid border-gray-300 text-center">
                                {% if exam.visual_accuity_pinhole_aided_distance.visual_acuity_measure_right %}
                                    {{ exam.visual_accuity_pinhole_aided_distance.visual_acuity_measure_right }}
                                {% else %}
                                    Not Recorded
                                {% endif %}
                            </td>
                            <td class="border-solid border-gray-300 text-center">
                                {% if exam.visual_accuity_aided_near.visual_acuity_measure_right %}
                                    {{ exam.visual_accuity_aided_near.visual_acuity_measure_right }}
                                {% else %}
                                    Not Recorded
                                {% endif %}
                            </td>
                            <td class="border-solid border-gray-300 text-center">
                                {% if exam.visual_accuity_pinhole_aided_near.visual_acuity_measure_right %}
                                    {{ exam.visual_accuity_pinhole_aided_near.visual_acuity_measure_right }}
                                {% else %}
                                    Not Recorded
                                {% endif %}
                            </td>
                        </tr>

                        <tr>
                            <th class="border-solid border-gray-500"> Unaided </th>
                            <td class="border-solid border-gray-300 text-center">
                                {% if exam.visual_accuity_unaided_distance.visual_acuity_measure_right %}
                                    {{ exam.visual_accuity_unaided_distance.visual_acuity_measure_right }}
                                {% else %}
                                    Not Recorded
                                {% endif %}
                            </td>
                            <td class="border-solid border-gray-300 text-center">
                                {% if exam.visual_accuity_pinhole_unaided_distance.visual_acuity_measure_right %}
                                    {{ exam.visual_accuity_pinhole_unaided_distance.visual_acuity_measure_right }}
                                {% else %}
                                    Not Recorded
                                {% endif %}
                            </td>
                            <td class="border-solid border-gray-300 text-center">
                                {% if exam.visual_accuity_unaided_near.visual_acuity_measure_right %}
                                    {{ exam.visual_accuity_unaided_near.visual_acuity_measure_right }}
                                {% else %}
                                    Not Recorded
                                {% endif %}
                            </td>
                            <td class="border-solid border-gray-300 text-center">
                                {% if exam.visual_accuity_pinhole_unaided_near.visual_acuity_measure_right %}
                                    {{ exam.visual_accuity_pinhole_unaided_near.visual_acuity_measure_right }}
                                {% else %}
                                    Not Recorded
                                {% endif %}
                            </td>
                        </tr>

                        <tr>
                            <th rowspan="2" class="border-solid border-gray-500"> Both Eyes </th>
                            <th class="border-solid border-gray-500"> Aided </th>
                            <td class="border-solid border-gray-300 text-center">
                                {% if exam.visual_accuity_aided_distance.visual_acuity_measure_both %}
                                    {{ exam.visual_accuity_aided_distance.visual_acuity_measure_both }}
                                {% else %}
                                    Not Recorded
                                {% endif %}
                            </td>
                            <td class="border-solid border-gray-300 text-center">
                                {% if exam.visual_accuity_pinhole_aided_distance.visual_acuity_measure_both %}
                                    {{ exam.visual_accuity_pinhole_aided_distance.visual_acuity_measure_both }}
                                {% else %}
                                    Not Recorded
                                {% endif %}
                            </td>
                            <td class="border-solid border-gray-300 text-center">
                                {% if exam.visual_accuity_aided_near.visual_acuity_measure_both %}
                                    {{ exam.visual_accuity_aided_near.visual_acuity_measure_both }}
                                {% else %}
                                    Not Recorded
                                {% endif %}
                            </td>
                            <td class="border-solid border-gray-300 text-center">
                                {% if exam.visual_accuity_pinhole_aided_near.visual_acuity_measure_both %}
                                    {{ exam.visual_accuity_pinhole_aided_near.visual_acuity_measure_both }}
                                {% else %}
                                    Not Recorded
                                {% endif %}
                            </td>
                        </tr>

                        <tr>
                            <th class="border-solid border-gray-500"> Unaided </th>
                            <td class="border-solid border-gray-300 text-center">
                                {% if exam.visual_accuity_unaided_distance.visual_acuity_measure_both %}
                                    {{ exam.visual_accuity_unaided_distance.visual_acuity_measure_both }}
                                {% else %}
                                    Not Recorded
                                {% endif %}
                            </td>
                            <td class="border-solid border-gray-300 text-center">
                                {% if exam.visual_accuity_pinhole_unaided_distance.visual_acuity_measure_both %}
                                    {{ exam.visual_accuity_pinhole_unaided_distance.visual_acuity_measure_both }}
                                {% else %}
                                    Not Recorded
                                {% endif %}
                            </td>
                            <td class="border-solid border-gray-300 text-center">
                                {% if exam.visual_accuity_unaided_near.visual_acuity_measure_both %}
                                    {{ exam.visual_accuity_unaided_near.visual_acuity_measure_both }}
                                {% else %}
                                    Not Recorded
                                {% endif %}
                            </td>
                            <td class="border-solid border-gray-300 text-center">
                                {% if exam.visual_accuity_pinhole_unaided_near.visual_acuity_measure_both %}
                                    {{ exam.visual_accuity_pinhole_unaided_near.visual_acuity_measure_both }}
                                {% else %}
                                    Not Recorded
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        {% endif %}

        <div class="overflow-x-auto w-3/4 mx-auto mb-6">
            <table class="table table-fixed">
                <tbody>
                    <tr>
                        <th colspan="4" class="text-center border-solid border-gray-500">Ocular Examination Findings</th>
                    </tr>
                    <tr>
                        <td class="border-solid border-gray-500 w-1/3"> Vitreous Segment </td>
                        <td class="border-solid border-gray-300 text-center w-1/6"> {{ occular_form.vitreous_segment.value }} </td>
                        <td class="border-solid border-gray-500 w-1/3"> Diabeti Eval Segment </td>
                        <td class="border-solid border-gray-300 text-center w-1/6"> {{ occular_form.diabeti_eval_segment.value }} </td>
                    </tr>

                    <tr>
                        <td class="border-solid border-gray-500"> Macula Segment </td>
                        <td class="border-solid border-gray-300 text-center"> {{ occular_form.macula_segment.value }} </td>
                        <td class="border-solid border-gray-500"> HTN Evaluation Segment </td>
                        <td class="border-solid border-gray-300 text-center"> {{ occular_form.htn_eval_segment.value }} </td>
                    </tr>

                    <tr>
                        <td class="border-solid border-gray-500"> Vasculature Segment </td>
                        <td class="border-solid border-gray-300 text-center"> {{ occular_form.vasculature_segment.value}} </td>
                        <td class="border-solid border-gray-500"> ARMD Segment </td>
                        <td class="border-solid border-gray-300 text-center"> {{ occular_form.armd_segment.value }} </td>
                    </tr>

                    <tr>
                        <td class="border-solid border-gray-500"> Posterior Pole Segment </td>
                        <td class="border-solid border-gray-300 text-center"> {{ occular_form.posterior_pole_segment.value }} </td>
                        <td class="border-solid border-gray-500"> {% if occular_form.custom_1_input.value %} {{ occular_form.custom_1_input.value }} {% else %}  {% endif %} </td>
                        <td class="border-solid border-gray-300 text-center"> {% if occular_form.custom_1.value %} {{ occular_form.custom_1.value }} {% else %}  {% endif %} </td>
                    </tr>

                    <tr>
                        <td class="border-solid border-gray-500"> Peripheral Retina Segment </td>
                        <td class="border-solid border-gray-300 text-center"> {{ occular_form.peripheral_retina_segment.value }} </td>
                        <td class="border-solid border-gray-500"> {% if occular_form.custom_2_input.value %} {{ occular_form.custom_2_input.value }} {% else %}  {% endif %} </td>
                        <td class="border-solid border-gray-300 text-center"> {% if occular_form.custom_2.value %} {{ occular_form.custom_2.value }} {% else %}  {% endif %} </td>
                    </tr>

                    <tr>
                        <td class="border-solid border-gray-500"> Misc Retina Segment </td>
                        <td class="border-solid border-gray-300 text-center"> {{ occular_form.misc_retina_segment.value }} </td>
                        <td class="border-solid border-gray-500"> {% if occular_form.custom_3_input.value %} {{ occular_form.custom_3_input.value }} {% else %}  {% endif %} </td>
                        <td class="border-solid border-gray-300 text-center"> {% if occular_form.custom_3.value %} {{ occular_form.custom_3.value }} {% else %}  {% endif %} </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div>
            <h2 class="text-lg font-semibold text-center text-gray-700 mb-6">Ophthalmic Indicators</h2>
        </div>

        <div class="overflow-x-auto w-1/2 mx-auto mb-6">
            <table class="table table-bordered border border-gray-300">
                <tbody>
                    <tr>
                        <th></th>
                        <th class="text-center border-solid border-gray-500"> Left Eye </td>
                        <th class="text-center border-solid border-gray-500"> Right Eye </td>
                    </tr>
                    <tr>
                        <th class="border-solid border-gray-500"> Venous Pulsation </th>
                        <td class="border-solid border-gray-300 text-center"> {{ occular_form.left_venous_pulsation.value }} </td>
                        <td class="border-solid border-gray-300 text-center"> {{ occular_form.right_venous_pulsation.value }} </td>
                    </tr>

                    <tr>
                        <th class="border-solid border-gray-500"> Foveal Reflex </th>
                        <td class="border-solid border-gray-300 text-center"> {{ occular_form.left_foveal_reflex.value }} </td>
                        <td class="border-solid border-gray-300 text-center"> {{ occular_form.right_foveal_reflex.value }} </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr class="my-4" />
        <div>

            <div>
                <label class="text-2xl font-semibold text-left text-gray-700 mb-6">Fundus Evaluation Method</label>
            </div>

            <div>
                <label>Performed Evaluation:</label>
                <label> {{ occular_form.fundus_record.value }}</label>
            </div>

            <div>
                <label class="text-2xl font-semibold text-left text-gray-700 mb-6">Dilation</label>
            </div>

            <div>
                <label>Dilation Quantity:</label>
                <label> {{ occular_form.dilated_with_drops.value }}</label>
            </div>

            <div class="mb-6">
                <label>Dilation Drug:</label>
                <label> {{ occular_form.dilated_with_drug.value }}</label>
            </div>

            <div class="overflow-x-auto w-3/4 mb-6 mx-auto">
                <table class="table table-bordered border border-gray-300">
                    <tbody>
                        <tr>
                            <th colspan="6" class="text-center border-solid border-gray-500">Evaluation Methods</th>
                        </tr>
                        <tr>
                            <td class="border-solid border-gray-500"> 78D Lens </td>
                            <td class="text-center border-solid border-gray-300"> {{ occular_form.d78_lens }} </td>
                            <td class="border-solid border-gray-500"> 90D Lens</td>
                            <td class="text-center border-solid border-gray-300"> {{ occular_form.d90_lens }} </td>
                            <td class="border-solid border-gray-500"> 20D BIO Lens </td>
                            <td class="text-center border-solid border-gray-300">  {{ occular_form.d20_lens }} </td>
                        </tr>

                        <tr>
                            <td class="border-solid border-gray-500"> PR 2.2 BIO Lens </td>
                            <td class="text-center border-solid border-gray-300"> {{ occular_form.PR22_lens }} </td>
                            <td class="border-solid border-gray-500"> Scleral Depression </td>
                            <td class="text-center border-solid border-gray-300"> {{ occular_form.scleral_depression }} </td>
                            <td class="border-solid border-gray-500"> Ophthalmoscope </td>
                            <td class="text-center border-solid border-gray-300"> {{ occular_form.ophthalmoscope }} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                {% if occular_form.other.value %}
                    <fieldset class="fieldset border-0 ms-0 me-0 mb-6 pb-0 ps-0 pe-0">
                        <legend class="fieldset-legend">Additional Method Notes</legend>
                        <textarea name="other_information"rows="4" class="border-2 w-1/2 resize-none min-h-20 max-h-80" readonly> {{ occular_form.other_information.value }} </textarea>
                    </fieldset>
                {% endif %}
            </div>

            <div class="overflow-x-auto w-3/4 mx-auto">
                <table class="table table-bordered border border-gray-300">
                    <tbody>
                        <tr>
                            <th colspan="4" class="text-center border-solid border-gray-500">Notes</th>
                        </tr>
                        <tr>
                            <td class="border-solid border-gray-500"> Patient advised of the effects of DFE </td>
                            <td class="text-center border-solid border-gray-300"> {{ occular_form.advised }} </td>
                            <td class="border-solid border-gray-500"> DFE rescheduled</td>
                            <td class="text-center border-solid border-gray-300"> {{ occular_form.rescheduled }} </td>
                        </tr>

                        <tr>
                            <td class="border-solid border-gray-500"> DFE declined </td>
                            <td class="text-center border-solid border-gray-300">  {{ occular_form.declined }} </td>
                            <td class="border-solid border-gray-500"> Fundus Imaging Performed </td>
                            <td class="text-center border-solid border-gray-300"> {{ occular_form.imaging }} </td>
                        </tr>

                        <tr>
                            <td class="border-solid border-gray-500"> DFE refused </td>
                            <td class="text-center border-solid border-gray-300"> {{ occular_form.refused }} </td>
                            <td class="border-solid border-gray-500"> DFE not indicated</td>
                            <td class="text-center border-solid border-gray-300"> {{ occular_form.not_indicated }} </td>
                        </tr>

                        <tr>
                            <td class="border-solid border-gray-500"> DFE contraindicated </td>
                            <td class="text-center border-solid border-gray-300">  {{ occular_form.contraindicated }} </td>
                            <td class="border-solid border-gray-500"> Recent DFE </td>
                            <td class="text-center border-solid border-gray-300"> {{ occular_form.recent }} </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div>
                <h2 class="text-lg font-semibold text-center text-gray-700 mb-6">Cup/Disc Ratio Tool Settings</h2>
            </div>

            <div class="overflow-x-auto w-1/2 mx-auto">
                <table class="table table-bordered border border-gray-300">
                    <tbody>
                        <tr>
                            <th></th>
                            <th class="text-center border-solid border-gray-500"> Left Eye </td>
                            <th class="text-center border-solid border-gray-500"> Right Eye </td>
                        </tr>
                        <tr>
                            <th class="border-solid border-gray-500"> Horizontal </th>
                            <td class="text-center border-solid border-gray-300"> {{ occular_form.os_cup_ratio_horizontal.value }} </td>
                            <td class="text-center border-solid border-gray-300"> {{ occular_form.od_cup_ratio_horizontal.value }} </td>
                        </tr>

                        <tr>
                            <th class="border-solid border-gray-500"> Vertical </th>
                            <td class="text-center border-solid border-gray-300"> {{ occular_form.os_cup_ratio_vertical.value }} </td>
                            <td class="text-center border-solid border-gray-300"> {{ occular_form.od_cup_ratio_vertical.value }} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr class="my-4" />
            <div>
                <label class="text-2xl font-semibold text-left text-gray-700 mb-6">Optic Nerve Head Assessment</label>
            </div>

            <div>
                <label>Optic Nerve:</label>
                <label> {{ occular_form.optic_nerve.value }} </label>
            </div>

            <div>
                <label>Nerve Fiber Layer:</label>
                <label> {{ occular_form.nerve_fiber.value }} </label>
            </div>

            <div>
                <h2 class="text-lg font-semibold text-center text-gray-700 mb-6">Optic Nerve Descriptors</h2>
            </div>

            <div class="overflow-x-auto w-1/2 mx-auto">
                <table class="table table-bordered border border-gray-300">
                    <tbody>
                        <tr>
                            <th></th>
                            <th class="text-center border-solid border-gray-500">Left Eye</th>
                            <th class="text-center border-solid border-gray-500">Right Eye</th>
                        </tr>
                        <tr>
                            <th class="border-solid border-gray-500"> Deep </th>
                            <td class="text-center border-solid border-gray-300"> {{ occular_form.os_deep }} </td>
                            <td class="text-center border-solid border-gray-300"> {{ occular_form.od_deep }} </td>
                        </tr>

                        <tr>
                            <th class="border-solid border-gray-500"> Shallow </th>
                            <td class="text-center border-solid border-gray-300"> {{ occular_form.os_shallow }} </td>
                            <td class="text-center border-solid border-gray-300"> {{ occular_form.od_shallow }} </td>
                        </tr>

                        <tr>
                            <th class="border-solid border-gray-500"> Round </th>
                            <td class="text-center border-solid border-gray-300"> {{ occular_form.os_round }} </td>
                            <td class="text-center border-solid border-gray-300"> {{ occular_form.od_round }} </td>
                        </tr>

                        <tr>
                            <th class="border-solid border-gray-500"> Oval </th>
                            <td class="text-center border-solid border-gray-300"> {{ occular_form.os_oval }} </td>
                            <td class="text-center border-solid border-gray-300"> {{ occular_form.od_oval }} </td>
                        </tr>

                        <tr>
                            <th class="border-solid border-gray-500"> Temp. Sloping </th>
                            <td class="text-center border-solid border-gray-300"> {{ occular_form.os_temp }} </td>
                            <td class="text-center border-solid border-gray-300"> {{ occular_form.od_temp }} </td>
                        </tr>

                        <tr>
                            <th class="border-solid border-gray-500"> Undermining </th>
                            <td class="text-center border-solid border-gray-300"> {{ occular_form.os_under }} </td>
                            <td class="text-center border-solid border-gray-300"> {{ occular_form.od_under }} </td>
                        </tr>

                        <tr>
                            <th class="border-solid border-gray-500"> Peripap Atrophy </th>
                            <td class="text-center border-solid border-gray-300"> {{ occular_form.os_atrophy }} </td>
                            <td class="text-center border-solid border-gray-300"> {{ occular_form.od_atrophy }} </td>
                        </tr>

                        <tr>
                            <th class="border-solid border-gray-500"> Sclearal Crescent </th>
                            <td class="text-center border-solid border-gray-300"> {{ occular_form.os_scleral }} </td>
                            <td class="text-center border-solid border-gray-300"> {{ occular_form.od_scleral }} </td>
                        </tr>

                        <tr>
                            <th class="border-solid border-gray-500"> Pigment Crescent </th>
                            <td class="text-center border-solid border-gray-300"> {{ occular_form.os_pigment }} </td>
                            <td class="text-center border-solid border-gray-300"> {{ occular_form.od_pigment }} </td>
                        </tr>

                        <tr>
                            <th class="border-solid border-gray-500"> Optic Pit </th>
                            <td class="text-center border-solid border-gray-300"> {{ occular_form.os_pit }} </td>
                            <td class="text-center border-solid border-gray-300"> {{ occular_form.od_pit }} </td>
                        </tr>

                        <tr>
                            <th class="border-solid border-gray-500"> Muyelination </th>
                            <td class="text-center border-solid border-gray-300"> {{ occular_form.os_muyelination }} </td>
                            <td class="text-center border-solid border-gray-300"> {{ occular_form.od_muyelination }} </td>
                        </tr>

                        <tr>
                            <th class="border-solid border-gray-500"> Glial Remnants </th>
                            <td class="text-center border-solid border-gray-300"> {{ occular_form.os_remnants }} </td>
                            <td class="text-center border-solid border-gray-300"> {{ occular_form.od_remnants }} </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div>
                <hr class="my-4" />
                <h2 class="text-lg font-semibold text-center text-gray-700 mb-6">Eye Images</h2>
            </div>

            <div class="flex">
                <div class="flex w-1/2 justify-center">
                    <label>Left Eye</label>
                </div>
                <div class="flex w-1/2 justify-center">
                    <label>Right Eye</label>
                </div>
            </div>

            <div class="flex">
                <div class="flex w-1/2 justify-center">
                    <img src="{{ occular_form.image_of_left_eye.value.url }}" class="w-64 h-auto rounded-lg"/>
                </div>
                <div class="flex w-1/2 justify-center">
                    <img src="{{ occular_form.image_of_right_eye.value.url }}" class="w-64 h-auto rounded-lg"/>
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}

<script>
    function printPrescription(examId) {
        const printWindow = window.open(`/prescription_print/${examId}/`, '_blank');
        printWindow.focus();

        printWindow.onload = function () {
            printWindow.print();
        };
    }
  </script>

{% endblock  %}
