{% extends base_template_name %}
{% block content%}
<h1 class="text-3xl font-bold text-gray-700 text-center mb-2">Patient's Exams</h1>
{% for exam in page_obj %}
    {# Each "patient" is a patient model object. #}
    {% if exam.status == "Upcoming" %}
        <a href="{% url 'upcoming_exam_info' exam.id  %}">{{ exam }}</a>    Status:{{ exam.status}}
    {% else %}
        <a href="{% url 'exam_details' exam.id  %}">{{ exam }}</a>    Status:{{ exam.status}}
    {% endif %}
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
