{% extends base_template_name %}
{% block content %}
<h1 class="text-3xl font-bold text-gray-700 text-center mb-2">{{ patient_obj }}'s Exams</h1>
<div class="w-full space-y-2">
    {% for exam in page_obj %}
        <div class="outline outline-2 outline-black p-4 bg-white rounded-md shadow-md flex flex-col justify-between">

            <!-- Body: Patient (left), Doctor + Status (right) -->
            <div class="flex justify-between items-start">
                <!-- Patient (Clickable link) -->
                <div>
                    <p class="text-sm text-gray-600"><span class="font-semibold">Time:</span> {{ exam.time|time:"g:i A" }} </p>
                    <p class="text-sm text-gray-600"><span class="font-semibold">Date:</span> {{ exam.date }} </p>
                    <form method="get" action="{% url 'exam_details' exam.id %}">
                        <button type="submit"
                                class="text-sm font-semibold text-blue-700 border border-blue-700 px-3 py-1 rounded hover:bg-blue-100">
                            View Exam
                        </button>
                    </form>
                </div>

                <!-- Doctor and Status -->
                <div class="text-right">
                    <p class="text-sm text-gray-600"><span class="font-semibold">Doctor:</span> {{ exam.doctor }}</p>
                    <p class="text-sm text-gray-600"><span class="font-semibold">Status:</span> {{ exam.status }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<!-- Pagination -->
<div class="pagination mt-8 text-center space-x-2">
    <span class="step-links text-lg">
        {% if page_obj.has_previous %}
            <a href="?page=1" class="text-blue-700 hover:underline">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}" class="text-blue-700 hover:underline">previous</a>
        {% endif %}

        <span class="current font-semibold">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="text-blue-700 hover:underline">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}" class="text-blue-700 hover:underline">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
