<!DOCTYPE html>
{% extends base_template_name %}
{% block content%}
<html>
<head>
    <title>Exam View</title>
</head>
<body>
    <h2>Exam View</h2>
    <p class="text-4xl">Appointment Information</p>
    {{ form.as_p }}
    {% if prescription_form %}
        <p class="text-4xl">Prescription</p>
        <a class="nav-link" href="{% url 'prescription_download' exam_id%}" name="Download">Download</a>
        {{ prescription_form.as_p }}
    {% endif %}
    {% if visual_form %}
        <p class="text-4xl">Vissual Accuity Information</p>
        {{ visual_form.as_p }}
    {% endif %}
    {% if occular_form %}
        <p class="text-4xl">Occular Exam Data</p>
        {{ occular_form.as_p }}
    {% endif %}
</body>
</html>
{% endblock  %}
