<!DOCTYPE html>
{% extends "base_patient.html" %}
{% block content%}
<html>
<head>
    <title>Exam Request</title>
</head>
<body>
    <h2>Exam Request</h2>
    <form method="post">
        {% csrf_token %}
        <select hx-trigger="change" hx-indicator=".htmx-indicator" hx-get="{% url 'exam_request'%}" hx-target="#time" id="doctor" name="doctor" hx-include="[name='date']">
            <option value="">-------</option>
            {% for doctor in doctors %}
                <option value="{{  doctor.id }}">{{  doctor }}</option>
            {% endfor %}
        </select>

        <input hx-trigger="change" hx-indicator=".htmx-indicator" hx-get="{% url 'exam_request'%}" hx-target="#time" type="date" id="date" name="date" hx-include="[name='doctor']" min={{ minimum }} max={{ maximum }}>
        <section id="time" class="w-full">
            {% include "time_submission.html"%}
        </section>
        <textarea  id="reason_for_visit" cols="40" rows="5" name="reason_for_visit"></textarea>
        <button type="submit">Submit</button>
    </form>
    {% if messages %}
        {% for message in messages %}
            <p>{{ message.message }}</p>
        {% endfor %}
    {% endif %}
    <a href="{% url 'registration'%}">Register here</a>
</body>
</html>
{% endblock  %}
