<!DOCTYPE html>
{% extends base_template_name %}
{% block content%}
<html>
<head>
    <title>Patient Information</title>
</head>
<body>
    <h1 class="text-3xl font-bold text-gray-700 text-center mb-2">Patient Information</h1>
        <div>
            <h2 class="text-2xl font-semibold text-gray-700 mb-1">Personal Information</h2>
            <div>
                <label class="text-lg font-medium w-44">Patient ID: {{ patient_id }}</label>
            </div>
            <div>
                <label class="text-lg font-medium w-32">Name: {{ patient_information.title.value }} </label>
            </div>
            <div>
                <label class="text-lg font-medium w-32">First Name: {{ patient_information.first_name.value }} </label>
            </div>
            <div>
                <div>
                    <label class="text-lg font-medium w-32">Middle Initial: {{ patient_information.middle_initial.value }} </label>
                </div>
            </div>
            <div>
                <label class="text-lg font-medium w-32">Last Name: {{ patient_information.last_name.value }} </label>
            </div>
            <div>
                <label class="text-lg font-medium w-32">Gender: {{ patient_information.gender.value }} </label>
            </div>
            <div>
                <label class="text-lg font-medium w-32">Date of Birth: {{ patient_information.date_of_birth.value|date:'Y-m-d' }} </label>
            </div>
            <h2 class="text-2xl font-semibold text-gray-700 mb-1">Address</h2>
            <div>
                <label class="text-lg font-medium w-32">Street Address: {{ patient_information.street_address.value }} </label>
            </div>
            <div>
                <label class="text-lg font-medium w-32">City: {{ patient_information.city.value }} </label>
            </div>
            <div>
                <label class="text-lg font-medium w-32">State: {{ patient_information.state.value }} </label>
            </div>
            <div>
                <label class="text-lg font-medium w-32">Zip code: {{ patient_information.zip_code.value }} </label>
            </div>
            <h2 class="text-2xl font-semibold text-gray-700 mb-1">Contact Information</h2>
            <div>
                <label class="text-lg font-medium w-32">Phone Number: {{ patient_information.phone_number.value }} </label>
            </div>
            <div>
                <label class="text-lg font-medium w-32">Social Security: {{ patient_information.social_security_number.value }} </label>
            </div>
            <div>
                <label class="text-lg font-medium w-32">Email: {{ patient_information.email.value }} </label>
            </div>
        </div>
        <div class="flex justify-between">
            <div>
            </div>
            <a class="btn btn-xs justify-right" href="{% url exam_url exam_button_id %}">{{ exam_button }}</a>
        </div>
        <hr class="my-4">
        <h1 class="text-3xl font-bold text-gray-700 text-center mb-2">Emergency Contact</h1>
        <div>
            <div>
                <label class="text-lg font-medium w-32">Title: {{ emergency_contact.contact_title.value }} </label>
            </div>
            <div>
                <label class="text-lg font-medium w-32">First Name: {{ emergency_contact.contact_first_name.value }} </label>
            </div>
            <div>
                <label class="text-lg font-medium w-32">Middle Initial: {{ emergency_contact.contact_middle_initial.value }} </label>
            </div>
            <div>
                <label class="text-lg font-medium w-32">Last Name: {{ emergency_contact.contact_last_name.value }} </label>
            </div>
            <div>
                <label class="text-lg font-medium w-32">Relationship: {{ emergency_contact.contact_relationship.value }} </label>
            </div>
            <div>
                <label class="text-lg font-medium w-32">Phone Number: {{ emergency_contact.contact_phone_number.value }} </label>
            </div>
            <div>
                <label class="text-lg font-medium w-32">Email: {{ emergency_contact.contact_email.value }} </label>
            </div>
        </div>
        <hr class="my-4">
        <h1 class="text-3xl font-bold text-gray-700 text-center mb-2">Insurance Information</h1>
        <div>
            <div>
                <label class="text-lg font-medium w-32">Insurance Provider: {{ insurance_provider.insurance_provider.value }} </label>
            </div>
            <div>
                <label class="text-lg font-medium w-32">Contract Number: {{ insurance_provider.contract_number.value }} </label>
            </div>
            <div>
                <label class="text-lg font-medium w-32">Group Number: {{ insurance_provider.group_number.value  }} </label>
            </div>
            <div>
                <label class="text-lg font-medium w-32">Effective Date: {{ insurance_provider.effective_date.value|date:'Y-m-d' }} </label>
            </div>
            <div>
                <label class="text-lg font-medium w-32">Co-Pay: ${{ insurance_provider.co_pay.value }} </label>
            </div>
            <div>
                <label class="text-lg font-medium w-32">Street Address: {{ insurance_provider.insurance_street_address.value }} </label>
            </div>
            <div>
                <label class="text-lg font-medium w-32">City: {{ insurance_provider.insurance_city.value }} </label>
            </div>
            <div>
                <label class="text-lg font-medium w-32">State: {{ insurance_provider.insurance_state.value }} </label>
            </div>
            <div>
                <label class="text-lg font-medium w-32">Zip Code: {{ insurance_provider.insurance_zip_code.value }} </label>
            </div>
            <div>
                <label class="text-lg font-medium w-32">Phone Number: {{ insurance_provider.insurance_phone_number.value }} </label>
            </div>
            <div>
                <label class="text-lg font-medium w-32">Primary Care Provider: {{ insurance_provider.primary_care_provider.value }} </label>
            </div>
        </div>
</body>
</html>
{% endblock  %}
