<!DOCTYPE html>
{% extends base_template_name %}
{% block content%}
<html>
<head>
    <title>Patient Information</title>
</head>
<body>
    <h2>Personal Information</h2>
    <form method="post">
        {% csrf_token %}
        {{ patient_information_form.as_p }}
        <p class="text-4xl">Contact Information</p>
        {{ emergency_contact_form.as_p }}
        <p class="text-4xl">Insurance Information</p>
        {{ insurance_provider_form.as_p }}
        <button type="submit">Submit</button>
    </form>
</body>
</html>
{% endblock  %}
