{% extends base_template_name %}
{% block content %}
<h1 class="text-3xl font-bold text-gray-700 text-center mb-2">Patients</h1>
<div class="pb-3">
<label>Search:</label>
<input type="text" id="search" name="search"
      class="border border-gray-300 rounded w-2/5 px-4 py-2 shadow-md hover:bg-slate-100 hover:shadow-xl"
      hx-trigger="change"
      hx-indicator=".htmx-indicator"
      hx-get="{% url 'patient_list' %}"
      hx-target="#patients">
</div>
<div id="patients">
    {% include "patient_list_element.html" %}
</div>

{% endblock %}
