<!DOCTYPE html>
<html>
<head>
    <title>Token Generation</title>
</head>
<body>
    <h2>Token Generation</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
    {% if messages %}
        {% for message in messages %}
            <p>{{ message.message }}</p>
        {% endfor %}
    {% endif %}


    {% if token %}
    <button onclick="copyText()">Copy</button>
    <br />

    <h1>Copied Text:</h1><br />
    <textarea id="textbox"></textarea>

    <script>
        function copyText() {
            let url = ("{% url 'registration' %}");
            url += "{{ token }}";
            /* Copy text into clipboard */
            navigator.clipboard.writeText(
            url)
        }
    </script>
    {% endif %}


</body>
</html>
